
{% extends "shop/../account/base.html" %}

{% block title %}
    ORDER LIST
{% endblock title %}

{% block content %}
    {% load staticfiles %}
    {% load thumbnail %}
    <link rel="stylesheet" type='text/css' href="{% static 'shop/style.css' %}">
    <div class="content">
        <div id="board_list">
            <div id="board_list_title">
                <div id="board_title">
                    <h2>
                        <span>ORDER LIST</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="order_list">
            <div class="title">
                <h3>
                    주문 상품 정보
                </h3>
            </div>
            <table>
                <thead>
                <tr>
                    <th class="date">
                        ORDER-DATE
                    </th>
                    <th class="thumb">
                        IMAGE
                    </th>
                    <th class="product">
                        PRODUCT
                    </th>
                    <!--<th class="quantity">
                        QUANTITY
                    </th> -->
                    <th class="price">
                        PRICE
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- 리스트 안에 담겨서 나오기 때문에 for 문을 써서 출력 -->
                {% for i in orders %}
                    <tr>
                        <td class="date">
                            {{ i.order_date }}
                        </td>
                        <td class="thumb">
                            {% thumbnail i.products.image "100x100" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ im.name }}">
                            {% endthumbnail %}
                        </td>
                        <td class="product">
                            {{ i.products.name }}
                        </td>
                        <!-- <td class="quantity">

                        </td> -->
                        <td>
                            {{ i.amount }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- pagenation nav -->
        <div class="board_paging">
            <ol>
                {% if orders.has_previous %}
                    <li class="paging_pre">
                        <a href="{% url 'shop:order_list' %}?page={{ orders.previous_page_number }}"><</a>
                    </li>
                {% endif %}

                <li><a href="#">{{ orders.number }}</a></li>

                {% if orders.has_next %}
                    <li class="paging_next">
                        <a href="{% url 'shop:orser_list' %}?page={{ orders.next_page_number }}">></a>
                    </li>
                {% endif %}
            </ol>
        </div>
    </div>
{% endblock content %}